.container {
  border: 2px solid;
  width: 50%;
  margin: 0 auto;
}

header,
footer,
main {
  padding: 20px;
}

header,
main {
  border-bottom: 2px solid;
  margin-bottom: 5px;
}

p.post {
  font-size: 12px;
}

footer {
  margin-bottom: 5px;
}
