<!DOCTYPE html>
<html>
    <head>
        <title>Flask-MongoDB Example App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
    <div class="container">
        <header>
            <h1>Example Flask App</h1>
        </header>
        <main>
            <p>Welcome to the Flask app. This is the home page. Here are a few links to example pages you might find interesting.
                <ul>
                    <li><a href="{{ url_for('read')}}">a page that displays information pulled from a MongoDB database collection</a></li>
                    <li><a href="{{ url_for('create')}}">a page with a form you can submit to create a new record in a MongoDB collection</a></li>
                </ul>
            </p>
        </main>
        <footer>
            <p>
                The source code for this example app is <a href="https://github.com/nyu-database-design/flask-mongodb-example">available on Github</a>.
            </p>
        </footer>
    </div>
    </body>
</html>