{% extends 'base.html' %}

{% block container %}
<h2>Read</h2>
<p>This page shows information pulled from a MongoDB database collection.
        
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post">
            Posted by {{doc.name}} at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            <br/>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            <br/>
        </p>
        <p>
            {{ doc.message }}
        </p>
            
    </div>
    {%endfor%}
</p>
{% endblock %}